@import "../../styles/mixins";

.PokeSpriteWrapper {
  height: 75%;
  align-self: center;
  justify-self: center;

  @include respondAt(1200px) {
    height: 65%;
  }

  @include respondAt(480px) {
    height: 90%;
    grid-area: imagePNG;
  }
}
