@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
$cubic: cubic-bezier(0.64, 0.09, 0.08, 1);

.progress-bar-wrapper {
  position: relative;
  overflow: hidden;

  width: 98%;
  height: 9%;

  margin: auto;

  border-radius: 20px;
  background-clip: padding-box;
  background: rgb(230, 230, 230);

  &:after {
    position: absolute;
    // top: 50%;
    // left: 100%; /* To the right of the tooltip */
    // margin-top: -5px;
    // border-width: 5px;
    // border-style: solid;
    // border-color: transparent transparent transparent black;
    // opacity: 0;
    visibility: hidden;
    // position: absolute;
    content: attr(data-tooltip);
    // padding: 6px 10px;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%) translateY(-2px);
    // background: grey;
    // color: white;
    // white-space: nowrap;
    // z-index: 3;
    // border-radius: 2px;
    //
  }
  &:hover {
    &:after {
      // display: block;
      // opacity: 1;
      top: 5%;
      left: 12px;
      visibility: visible;
      // transform: translateX(-50%) translateY(-50%);
    }
    // .progress-bar-wrapper{
    height: 20%;
    border-radius: 5px;
    transition: height 0.1s ease-out;
    // }
  }
}

.progress-bar-percent {
  left: 0;
  top: 0;
  height: 100%;

  background-color: rgba(17, 137, 248, 0.2);

  // &:hover{
  //   width: 70%;
  // }
}

.progress-bar-text {
  position: absolute;
  z-index: 2;
  left: 10px;
  top: -3%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #00000000;
  font-size: 0.9em;
  width: 95%;
  &:hover {
    color: #000000;
  }
}

.HP {
  .progress-bar-percent {
    background-color: #ff5b5b;
  }
}

.Attack {
  .progress-bar-percent {
    background-color: #ffbc58;
  }
}

.Defense {
  .progress-bar-percent {
    background-color: #ffef63;
  }
}

.SpAttack {
  .progress-bar-percent {
    background-color: #9ac8ff;
  }
}

.SpDefense {
  .progress-bar-percent {
    background-color: #9aff81;
  }
}

.Speed {
  .progress-bar-percent {
    background-color: #ff81ff;
  }
}
