@import "../../styles/mixins";

.EvalChainItem {
  @include make-flex();
  height: 71px;
  width: 71px;
  cursor: pointer;
  &__Sprite {
    height: 100%;
  }

  &::after {
    content: attr(data-tooltip);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: auto;
    font-size: 1.15rem;
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(238, 238, 238);
  }
  &:hover {
    &:after {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateY(180%);
    }
    .EvalChainItem__Sprite {
        transition: all .2s ease-in-out;
      transform: scale(1.1);
    }
  }
}
