.fa {
  &-g {
    color: #cacaca;
    font-size: 2.5em;
    margin: auto;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    &__OnFocus {
      color: #e45353;
    }
    &__OffFocus {
      color: #cacaca;
    }
  }
  &-star {
    color: #cacaca;
    font-size: 2.5em;
    margin: auto;
    cursor: pointer;
    font-size: 2.1em;
    &__OnFocus {
      color: #f0f051;
    }

    &__OffFocus {
      color: #cacaca;
    }
  }
  &-mars {
    color: #cacaca;
    font-size: 2.5em;
    margin: auto;
    cursor: pointer;
    &__OnFocus {
      color: #53cee4;
    }
    &__OffFocus {
      color: #cacaca;
    }
  }
  &-venus {
    color: #cacaca;
    font-size: 2.5em;
    margin: auto;
    cursor: pointer;
    &__OnFocus {
      color: #e453d1;
    }
    &__OffFocus {
      color: #cacaca;
    }
  }
}
.disabled {
  color: #525252;
  &:hover {
    color: #525252;
    cursor: unset;
  }
}
