@import "../../styles/mixins";

svg {
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 15px 15px;
  width: 100%;
  left: 0px;
}


.DesktopBD {
  display: block;
}


@media only screen and (max-width: 1200px) {
  .backdropWrapper {
    width: 90% !important;
    height: 100%;
    margin: unset;
  }
  .MobileBD {
    display: block;
    bottom: 70px;
    border-radius: unset;
    z-index: -1;
  }
}

@media only screen and (min-width: 1200px) {
  .backdropWrapper {
    background-color: unset !important;
    transition: none;
  }
}
