@import "../../../../styles/mixins";

.dimensions {
  &__tabs {
    @include make-flex();
    height: 100%;
    width: 30%;
    .tabs {
      &__activeTab {
        background-color: rgb(255, 255, 255) !important;
      }
      &__heightweight {
        border-radius: 15px 0px 0px 0px;
      }
      &__gender {
        border-radius: 0px 0px 0px 15px;
      }
      &__heightweight,
      &__gender {
        @include make-flex();
        background-color: #00000015;
        height: 50%;
        width: 100%;
        img {
          height: 25px;
        }
      }
    }
  }
  .tabs__content {
    @include make-flex($just: space-around);
    display: none;
    width: calc(70% - 30px);
    height: calc(100% - 30px);
    border-radius: 0 15px 15px 0;
    padding: 15px;
    .topTabContent,
    .bottomTabContent {
      // height: 50%;
      font-family: "Arvo", serif;
      font-size: 0.85rem;
      color: #585858;
      @include make-flex($dir: row, $just: space-between);
      width: 100%;
    }
  }
  #heightWeight {
    display: flex;
  }
}
