.content {
  &__Sprite {
    height: 75%;
    align-self: center;
    justify-self: center;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    &__Sprite {
      height: 65%;
    }
  }
}
