.content {
  &__Sprite {
    height: 75%;
    align-self: center;
    justify-self: center;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    &__Sprite {
      height: 65%;
    }
  }
}

@media only screen and (max-width: 656px) {
  .content {
    &__Sprite {
      height: 52%;
    }
  }
}

@media only screen and (max-width: 547px) {
  .content {
    &__Sprite {
      height: 42%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .content {
    &__Sprite {
      height: 90%;
      grid-area: imagePNG;
    }
  }
}
