@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

$padding: 15px;

.Box { 
  position: relative;
  width: calc(96% - #{$padding});
  height: 100px;
  background-color: #ffffff;

  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.13);
  border-radius: 15px;
  padding: $padding;

  justify-self: center;
  p {
    font-family: "Lora", serif;
    color: #6b6b6b;
  }
}

.type2 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .type2 {
    height: auto;
  }
}
