@import "../../styles/mixins";

@media only screen and (max-width: 1200px) {
  html,
  body {
    height: 100%;
  }
  #root {
    height: 100%;
  }
  .Maincontainer {
    background-color: rgb(231, 255, 255);
    height: unset;

    &__contentwrapper {
      height: 100%;
      padding: unset;
      width: 100%;
      border-radius: unset;
    }
    &__content {
      @include make-flex(column);
      .content {
        &__image {
          width: 90%;
        }
        &__details {
          height: 80vh;
          width: 100vw;
          @include make-flex(row, $just: space-evenly);
        }
        &__Sprite {
          height: 50%;
        }

      }
    }
    &__backdrop {
      height: calc(100%-20vh);
      svg {
        border-radius: 0 0 0 0;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .Maincontainer {
    &__content {
      .content {
        &__image {
          width: 100%;
          border-radius: unset;
        }
      }
    }
  }
}
