@import "../../styles/mixins";
@import url("https://use.fontawesome.com/29d5099fb7.js");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

$font: "Arvo", serif;

.Maincontainer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(231, 255, 255);
  @include make-flex();

  &__contentwrapper {
    position: relative;
    height: 62%;
    width: 70%;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.13);
    background-color: rgb(255, 255, 255);
    padding: 3rem;
  }

  &__backdrop {
    height: 100%;
    z-index: 1;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    svg {
      position: absolute;
      bottom: 0rem;
      // right: 3rem;
      // left: -3rem;
      border-radius: 0 0 15px 15px;
      // path {
      //   fill: #68367A;
      // }
    }
  }

  &__content {
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
    @include make-flex(row, $just: space-between);
    .content {
      &__details {
        position: relative;
        height: 100%;
        // margin: auto;
        width: 56%;
        @include make-flex(row, $just: space-between);
        .leftChevron,
        .rightChevron {
          width: 30px;
          height: 60px;
          cursor: pointer;
          &:hover {
            background-color: #626262;
          }
          &:active {
            background-color: rgb(177, 236, 223);
          }
        }
        .leftChevron {
          background-color: #bdbdbd;
          background-size: cover;
          clip-path: polygon(100% 0, 0% 50%, 100% 100%);
        }

        .rightChevron {
          background-color: #bdbdbd;
          background-size: cover;
          clip-path: polygon(0 0, 100% 50%, 0 100%);
        }
      }
      &__image {
        height: 100%;
        position: relative;
        width: 40%;
        border-radius: 15px;
        box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.13);
        background-color: #ffffff;
      }
      &__Sprite {
        height: 80%;
      }

      &__inputBox {
        height: 100%;
        width: 50px;
        padding: 1px 15px 1px 15px;
        font-size: 1.3rem;
        border-radius: 10px;
        color: #616161;

        border-style: solid;
        border-width: medium;
        border-color: rgb(207, 207, 207);
        transition: width 1s cubic-bezier(0.36, 0.96, 0.57, 0.88);
        &:focus {
          outline: none;
          transition: width 1s cubic-bezier(0.36, 0.96, 0.57, 0.88);
          padding: 1px 15px 1px 45px;
          width: 100%;
        }
      }

      &__SearchBarBox {
        position: relative;
        margin: 30px;
        height: 50px;
        .fa-search {
          position: absolute;
          padding: unset;
          pointer-events: none;
          top: 17px;
          left: 16px;

          z-index: 1;
        }
      }

      &__pokemonName {
        position: absolute;
        left: 60px;
        width: 80%;
        max-width: 90%;
        height: 100%;
        font-family: $font;
        text-transform: capitalize;
        @include make-flex(row, $just: flex-start);
        font-size: 2em;
        color: #585858;
      }

      &__contentwrapper {
        position: relative;
        margin: 30px 22px 30px 25px;
        display: grid;
        grid-gap: 15px;
        // background-color: #2196f3;
        overflow-y: scroll;
        padding: 10px;
        height: calc(100% - 160px);
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }
      &__row {
        display: grid;
        width: 100%;
        column-gap: 15px;
        margin: auto;
        grid-template-columns: 40% 55%;
      }
    }
  }
}

.rah-input-wrapper {
  width: 100%;
  height: 100%;
}
