@import "../../styles/mixins";
@import url("https://use.fontawesome.com/29d5099fb7.js");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

$font: "Arvo", serif;

.Maincontainer {
  min-width: 353px;
  min-height: 575px;
  height: 100vh;
  width: 100vw;
  background-color: #e2edff;
  display: grid;

  &__contentwrapper {
    height: 77%;
    width: 75%;
    background-color: #fff;
    align-self: center;
    justify-self: center;
    border-radius: 14px;
    z-index: 0;

    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas:
      "image search"
      "image details";
  }
  .content {
    &__search {
      grid-area: search;
      background-color: #ffffff;
      height: 79%;
      width: 90%;
      position: relative;
      border-radius: 15px 15px 0px 0px;
      align-self: flex-end;

      .content__SearchBarBox {
        position: relative;
        margin: 30px;
        height: 50px;

        .fa-search {
          position: absolute;
          padding: unset;
          pointer-events: none;
          top: 17px;
          left: 16px;

          z-index: 1;
        }
      }
      &::before {
        content: "";
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
        border-radius: 15px 15px 0px 0px;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        z-index: -1;
      }
    }
    &__image {
      grid-area: image;
      height: 90%;
      width: 90%;

      align-self: center;
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "leftC . rightC";

      .leftChevron,
      .rightChevron {
        width: 30px;
        height: 60px;
        cursor: pointer;

        align-self: center;
        justify-self: center;
        &:hover {
          background-color: #626262;
        }
        &:active {
          background-color: rgb(177, 236, 223);
        }
      }
      .leftChevron {
        grid-area: leftC;
        background-color: #bdbdbd;
        background-size: cover;
        clip-path: polygon(100% 0, 0% 50%, 100% 100%);
      }
      .rightChevron {
        grid-area: rightC;
        background-color: #bdbdbd;
        background-size: cover;
        clip-path: polygon(0 0, 100% 50%, 0 100%);
      }
    }
    &__details {
      border-radius: 0px 0px 15px 15px;
      background-color: #ffffff;
      grid-area: details;
      height: 93.5%;
      width: 90%;
      position: relative;
      align-self: flex-start;
      &::before {
        content: "";
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
        border-radius: 0px 0px 15px 15px;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: -1;
      }
    }
    &__inputBox {
      height: 100%;
      width: 50px;
      padding: 1px 15px 1px 15px;
      font-size: 1.3rem;
      border-radius: 10px;
      color: #616161;

      border-style: solid;
      border-width: medium;
      border-color: rgb(207, 207, 207);
      transition: width 1s cubic-bezier(0.36, 0.96, 0.57, 0.88);
      &:focus {
        outline: none;
        transition: width 1s cubic-bezier(0.36, 0.96, 0.57, 0.88);
        padding: 1px 15px 1px 45px;
        width: 100%;
      }
    }
    &__pokemonName {
      position: absolute;
      left: 60px;
      width: 80%;
      max-width: 90%;
      height: 100%;
      font-family: $font;
      text-transform: capitalize;
      @include make-flex(row, $just: flex-start);
      font-size: 2em;
      color: #585858;
    }
    &__contentwrapper {
      position: relative;
      margin: 25px 22px 30px 25px;
      @include make-flex($align: unset, $just: unset);

      overflow-y: scroll;
      padding-top: 5px;
      height: calc(100% - 160px);
    }
    &__row {
      @include make-flex(row);

      // Below for sprite variations
      .fa {
        color: #cacaca;
        font-size: 2.5em;
        margin: auto;
        cursor: pointer;

        &-g {
          font-family: "Roboto", sans-serif;
          // &:hover,
          &__OnFocus {
            color: #e45353;
          }
          &__OffFocus {
            color: #cacaca;
          }
        }
        &-star {
          font-size: 2.1em;
          // &:hover,
          &__OnFocus {
            color: #f0f051;
          }

          &__OffFocus {
            color: #cacaca;
          }
        }
        &-mars {
          // &:hover,
          &__OnFocus {
            color: #53cee4;
          }
          &__OffFocus {
            color: #cacaca;
          }
        }
        &-venus {
          // &:hover,
          &__OnFocus {
            color: #e453d1;
          }
          &__OffFocus {
            color: #cacaca;
          }
        }
      }
      .disabled {
        color: #525252;
        &:hover {
          color: #525252;
          cursor: unset;
        }
      }
      // Sprite variations end
    }
  }
}

.rah-input-wrapper {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1050px) {
  .Maincontainer {
    &__contentwrapper {
      height: 100%;
      width: 100%;
      border-radius: unset;

      grid-template-columns: 1.3fr;
      grid-template-rows: 0.3fr 1fr 1fr;
      align-self: center;
      justify-self: center;
      grid-template-areas:
        "search"
        "image"
        "details";
    }
    .content {
      &__search,
      &__image,
      &__details {
        height: 100%;
        width: 100%;
        justify-self: center;
      }
      &__search,
      &__details {
        &::before {
          border-radius: unset;
        }
      }
      &__image {
        width: 100vw;
        @include make-flex(row, $just: space-evenly);
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .Maincontainer {
    &__content {
      .content {
        &__image {
          .leftChevron,
          .rightChevron {
            position: absolute;
          }
          .leftChevron {
            left: 5px;
          }
          .rightChevron {
            right: 5px;
          }
        }
      }
    }
  }
}
