@import "../../styles/mixins";

#loading-dock {
  width: 75%;
  height: 77%;
  position: absolute;
  z-index: 1000;
  .loader {
    height: 100%;
    width: 100%;
    @include make-flex();
    border-radius: 15px;
    img {
      height: 47%;
    }
    background-color: #c5b6f2;
  }
}

@media only screen and (max-width: 1200px) {
  #loading-dock {
    height: 100%;
    width: 100%;
    min-width: 390px;
    top: 0px;
    left: 0px;

    .loader {
      border-radius: unset;
      img {
        height: 39%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  #loading-dock {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    .loader {
      img {
        height: 39%;
      }
    }
  }
}
